@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<img src="~/cowboy-cafe-images/BuckingBronco.png"/>
<h2 class="text-danger">Whoops partner, you just got bucked off by an error!</h2>
